body {
  background-color: #3e9ed6;
  background-image: url("../img/background-tile.png");
  font-family: 'Poppins', sans-serif;
}

li {
  margin: 0.5em 0;
}

h2 {
  text-align: left;
  padding: 1em 0 0 1em;
  color: #008fd5;
  border-top: 2px dotted #aaa;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  padding: 0 1.5em;
  font-weight: 300;
}

a {
  color: #3e9ed6;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 10;
}

.banner {
  position: relative;
  display: flex;
  height: 60px;
  width: 95%;
  max-width: 900px;
  padding: 1em;
  padding-bottom: 10px;
  margin: auto;
  background-color: #eee;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
  z-index: 1;
}

.logo-rdio {
  height: 50px;
  width: 130px;
  margin-top: 5px;
  background-image: url("../img/rdio-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-exodus {
  margin-top: -12px;
  margin-left: 8px;
  font-family: 'Righteous', cursive;
  font-size: 67px;
  color: white;
}

.content {
  position: relative;
  width: 95%;
  max-width: 900px;
  padding: 1em;
  margin: auto;
  background-color: #eee;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}

.footer {
  margin: 20px 0 0 0;
  padding: 25px 0 10px 0;
  text-align: center;
  font-size: 12px;
  color: #444;
  border-top: 2px dotted #aaa;
}

@media screen and (max-width: 480px) {
  .logo-exodus {
    font-size: 35px;
    margin-top: -5px;
  }

  .logo-rdio {
    height: 25px;
    width: 65px;
  }
}
