<!DOCTYPE html>
<html>
  <head>
    <title>Rdio Exodus</title>
    <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script src="../lib/jquery-1.9.1.min.js"></script>
    <script src="../lib/underscore-1.4.4.min.js"></script>
    <script src="project-ideas.js"></script>

    <script id="issue-template" type="text/template">
      <h2><%- title %></h2>
      <p><%- body %></p>
    </script>

  </head>
  <body>
    <a href="https://github.com/iangilman/rdio-exodus">
      <img src="../img/forkme.png" alt="Fork me on GitHub">
    </a>
    <div class="banner">
      <a href="../">
        <div class="logo-rdio"></div>
      </a>
      <div class="logo-exodus"><a href="../">exodus</a></div>
    </div>
    <div class="content">
      <h1>Project Ideas</h1>
      <p>The Rdio API repository on GitHub has a label for <a href="https://github.com/rdio/api/issues?q=is%3Aopen+is%3Aissue+label%3A%22project+ideas%22">ideas for projects</a> built around the API. The API is gone, but many of those ideas are still relevant for other music services. They're archived here in case that repository goes away:</p>
      <div class="ideas">Loading...</div>
      <div class="footer">
        Maintained by <a href="https://twitter.com/iangilman">Ian Gilman</a>
      </div>
    </div>
  </body>
</html>
